h1{
  color: blue;
}
*{
  box-sizing: border-box;
}
.header .inner-logo img {
  max-height: 50px;
  max-width: 100%;
}
.boxList a{
  padding:10px;
  margin: 10px;
  background-color: #ddd;
  color: #000;
  text-decoration: none;
  margin-top: 40px;
}

.productList{
  display: flex;
  
  margin: 30px 30px;
}
.product{
  padding: 15px 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-left: 20px;
  width: 200px;
}
.product img{
  box-sizing: border-box;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.product h3{
  font-size: 18px;
}
.product del{
  color: red;
}
.product strong{
  margin-left: 20px;
}
footer{
  padding: 30px 30px;
  margin-top: 20px;
  background-color: antiquewhite;
  text-align: center;
}
.header{
  padding: 10px 10px;
  margin-top: 0px;
  background-color: rgb(229, 224, 216);
  text-align: center;
}
.header ul{
  list-style-type: none;
  display: flex;
}
.header ul li{
  margin-left: 10px;
  padding: 10px 10px;
  background-color: aliceblue;
}

/* End product-item */

/* sub-menu */
.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  left: 100%;
  top: 70%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  
  right: 0%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}
/* End sub-menu */

.notable{
  display: flex;
}
.notable-title{
  color: var(--blue);
  font-size: 29px;
  font-weight: 700;
  margin: 10px 15px;
}
/* product-detail */
.product-detail .inner-thumb{
  width: 400px;
}
.product-detail .inner-thumb img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.product-detail .inner-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.product-detail .inner-category {
  margin-bottom: 10px;
}

.product-detail .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail .inner-price-old {
  color: red;
  font-weight: 600;
  font-size: 20px;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.product-detail .inner-percent {
  margin-bottom: 10px;
}

.product-detail .inner-percent span {
  color: #fff;
  background: red;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}

.product-detail .inner-stock {
  margin-bottom: 10px;
}

.product-detail .inner-stock span {
  color: #fff;
  background: green;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}
/* show-alert */
.show-alert {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 999;
}

.show-alert.hidden {
  display: none;
}
/* End show-alert */



/* chat */
.chat {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.chat .inner-head {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat .inner-head .inner-avatar {
  background: #FE5DA3;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  line-height: 32px;
  color: #fff;
}

.chat .inner-head .inner-name {
  display: inline-block;
  font-weight: 600;
  margin-left: 5px;
}

.chat .inner-body {
  padding: 10px;
}

.chat .inner-body .inner-name {
  font-weight: 600;
}

.chat .inner-body .inner-content {
  background: #F1F1F1;
  margin-bottom: 10px;
  max-width: 220px;
  padding: 5px 10px;
  border-radius: 15px;
  line-height: 1.4;
}

.chat .inner-outgoing .inner-content {
  margin-left: auto;
  background: #FE5DA3;
  color: #fff;
}

.chat .inner-foot {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.chat .inner-form {
  display: flex;
  align-items: center;
}

.chat .inner-form input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}

.chat .inner-form button {
  border-radius: 15px;
  border: 1px solid #FE5DA3;
  background: #FE5DA3;
  color: #fff;
  height: 32px;
  padding: 0 10px;
  cursor: pointer;
}
/* End chat */