extends ../../layouts/default.pug
include ../../mixins/productList.pug
include ../../mixins/pagination.pug
block main
  h1 #{pageTitle}
  .productList
    +productList(Products)
  +pagination(pagination)