extends ../../layouts/default.pug
include ../../mixins/productList.pug
block main
  .notableBox
    h2(class="notable-title") Sản phẩm nổi bật
    .notable
      +productList(notableProducts)
  .newestBox 
    h2(class="notable-title") Sản phẩm mới nhất
    .notable
      +productList(newestProducts)
    