mixin selectTree(items,level=1,id="")
  each item in items
    - const prefix = Array(level+1).join("--");
    option(
      selected=(item.id == id ? true : false)
      value=item._id
      ) #{prefix} #{item.title}
    if(item.children)
      +selectTree(item.children,level+1,id)