mixin trash-options()
  select(class="custom-select input-group row  col-10" box-option-trash=`/${prefixAdmin}/trash/`)
    option(value='') Chọn Đối Tượng...
    option(value='products') Sản Phẩm
    option(value='product-category') Danh Mục Sản Phẩm
    option(value='accounts') Tài Khoản Admin