.sider
  .innder-menu
    ul
      li
        a(href=`/${prefixAdmin}/dashboard`) tổng quan
      li
        a(href=`/${prefixAdmin}/products`) sản phẩm
      li
        a(href=`/${prefixAdmin}/products-category`) danh mục sản phẩm
      li
        a(href=`/${prefixAdmin}/trash`) thùng rác
      
        